canvas {
    position: absolute;
    top: 0;
    left: 0;
}
:root{
    --primary-color: #ffffff;
    --lightprimary-color: #d1d1d1;
    --highlight-color: #87CEEB;
}

body{
    margin: 0;
    overflow-x: hidden;
}
main{
    /* display: none; */
    position: absolute;
}

.icon {
    width: 60px;
    height: 60px;
}

#hero{
    width: 50vw;
    height: 100svh;

    display: flex;
    justify-content: center;
    align-items: center;

    > div {
        background-color: var(--primary-color);
        width: 90%;
        height: 90%;
    }
}

.contact_list{
    width: calc(100% - 40px);
    padding: 20px 20px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

    a {
        display: flex;
        width: fit-content;
        height: fit-content;
        align-items: center;
        padding: 10px;
        gap: 10px;
        border-radius: 15px;
        background-color: var(--lightprimary-color);
        text-decoration: none;
        color: black;

        transition: scale ease-in 100ms;
    }
}
.contact_list a:hover{
    scale: 1.1;
    background-color: var(--highlight-color);
}

#tempSection {
    width: 100vw;
    height: 100vh;
    background-color: red;
}